<div class="modal fade" id="editorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
	<div class="modal-content">
		<div class="modal-body">
		<div id="editor"></div>
		      </div>
		<div class="modal-footer">
			<button id="close" class="btn btn-default btn-warning">关闭</button>
			<button id="insert" class="btn btn-default btn-primary" data-loading-text="<i class='icon-spinner icon-spin icon-large'></i> 插入数据库中">插入</button>
		</div>
      	</div>
	</div>
</div>
